:host {
  height: 600px;
  width: 100%;
  .container{
    height: 100%;
    .button-section{
      width: 80%;
      margin: 0 auto;
      padding: 10px;
    }
    .list-section {
      height: 100%;
    }
  }
}
