
<div class="popup-container">
  <h2>Create Restaurant</h2>
  <form [formGroup]="formGroup" *ngIf="formGroup" action="submit">
    <div class="w-100">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter Restaurant Name" formControlName="name">
        <mat-error *ngIf="formGroup.get('name')?.hasError('required')">
          Input is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-100">
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Enter Restaurant Name" formControlName="description">
        <mat-error *ngIf="formGroup.get('description')?.hasError('required')">
          Input is required
        </mat-error>
      </mat-form-field>
    </div>
    <div class="w-100">
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput placeholder="Enter Restaurant Name" formControlName="location">
        <mat-error *ngIf="formGroup.get('location')?.hasError('required')">
          Input is required
        </mat-error>
      </mat-form-field>
    </div>
  </form>
  <div class="btn-container">
    <button mat-raised-button (click)="closeModal()" class="mr-10">Cancel</button>
    <button mat-flat-button (click)="createRecord()">Save</button>
  </div>
</div>
